<p id="notice"><%= notice %></p>

<h1>Cloud Files</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Remote ID</th>
      <th>Filename</th>
      <th>Size</th>
      <th>% Complete</th>
      <th>Content type</th>
      <th>Status</th>
      <th>Is Directory?</th>
      <th>Remote created at</th>
      <th>Files</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cloud_files.each do |cloud_file| %>
      <tr>
        <td><%= cloud_file.id %></td>
        <td><%= cloud_file.remote_id %></td>
        <td><%= link_to cloud_file.filename, cloud_file %></td>
        <td><%= number_to_human_size(cloud_file.file_size) %></td>
        <td><%= cloud_file.remote_percent_complete %></td>
        <td><%= cloud_file.content_type %></td>
        <td><%= cloud_file.status %></td>
        <td><%= cloud_file.directory %></td>
        <td><%= cloud_file.remote_created_at %></td>
        <td><%= cloud_file.paths.count %></td>
        <td><%= link_to 'Destroy', cloud_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'New Cloud File', new_cloud_file_path %><p>
<p><%= link_to 'Sidekiq', "/sidekiq" %><p>