<p id="notice"><%= notice %></p>

<h1>Cloud Files</h1>

<%= render "shared/header" %>

<div class="card bg-light p-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <%= form_with url: :cloud_files_add do |form| %>
          <%= form.label :link, "Add magnet or torrent link" %>
          <%= form.text_field :link %>
          <%= form.submit "Add" %>
        <% end %>
      </div>

      <div class="col">
        <% if params[:show_deleted] %>
          <%= link_to "Hide deleted", cloud_files_path, class: "text-secondary" %>
        <% else %>
          <%= link_to "Show deleted", cloud_files_path(show_deleted: true), class: "text-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <table class="table">
    <thead>
      <tr class="table-secondary">
        <th scope="col">ID</th>
        <th scope="col">Remote ID</th>
        <th scope="col">Filename</th>
        <th scope="col">Size</th>
        <th scope="col">Complete</th>
        <th scope="col">Remote Complete</th>
        <th scope="col">Content type</th>
        <th scope="col">Status</th>
        <th scope="col">Is Directory?</th>
        <th scope="col">Remote created</th>
        <th scope="col">Files</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @cloud_files.each do |cloud_file| %>
        <% rowclass = cloud_file.percent_complete >= 100 ? "table-success" : "table-light" %>
        <tr scope="row" class="<%= rowclass %>">
          <td><%= cloud_file.id %></td>
          <td><%= cloud_file.remote_id %></td>
          <td><%= link_to cloud_file.filename || "TBD", cloud_file %></td>
          <td><%= number_to_human_size(cloud_file.total_downloadable_size) %></td>
          <td><%= cloud_file.percent_complete %>%</td>
          <td><%= cloud_file.remote_percent_complete %>%</td>
          <td><%= cloud_file.content_type %></td>
          <td><%= cloud_file.status %></td>
          <td><%= cloud_file.directory %></td>
          <td><%= time_ago_in_words(cloud_file.remote_created_at) %> ago</td>
          <td><%= cloud_file.paths.count %></td>
          <td>
            <%= button_to 'Delete',
              cloud_files_delete_path(cloud_file),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: "btn btn-warning"
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
