<p id="notice"><%= notice %></p>

<h1>Cloud Files</h1>

<%= render "shared/header" %>

<div class="card bg-light p-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <%= form_with url: :cloud_files_add do |form| %>
          <%= form.label :link, "Add magnet or torrent link" %>
          <%= form.text_field :link %>
          <%= form.submit "Add" %>
        <% end %>
      </div>

      <div class="col">
        <% if params[:show_deleted] %>
          <%= link_to "Hide deleted", cloud_files_path, class: "link-secondary" %>
        <% else %>
          <%= link_to "Show deleted", cloud_files_path(show_deleted: true), class: "link-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="p-3">
  <%= turbo_frame_tag @cloud_files do %>
    <%= render "shared/cloud_files" %>
  <% end %>
</div>
