<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @cloud_file.filename %>
</p>

<p>
  <strong>Remote Status:</strong>
  <%= @cloud_file.status %>
</p>

<p>
  <strong>Original link:</strong>
  <%= @cloud_file.original_link %>
</p>

<p>
  <strong>Directory:</strong>
  <%= @cloud_file.directory %>
</p>

<p>
  <strong>Remote created at:</strong>
  <%= @cloud_file.remote_created_at %>
</p>

<p>
  <strong>Remote Progress</strong>
  <%= @cloud_file.remote_percent_complete %>%
</p>

<%= button_to 'Sync', sync_cloud_files_path(@cloud_file), method: :post %>
<h2>Files</h2>
<table>
  <tr>
    <th>ID</th>
    <th>File</th>
    <th>Status</th>
    <th>Downloaded</th>
    <th></th>
  </tr>
  <% @cloud_file.paths.order(:id).each do |path| %>
    <tr>
      <td><%= path.id %></td>
      <td><a href="<%= path.url %>"><%= path.path %></a></td>
      <td><%= path.status %></td>
      <td><%= number_to_human_size(path.amount) %> / <%= number_to_human_size(path.size) %> (<%= path.percent_complete %>%)</td>
      <td><%= button_to 'Trigger download', download_path_path(path), disabled: !path.may_start_download? %></td>
      <td><%= button_to 'Cancel download', cancel_download_path_path(path), disabled: !path.may_cancel? %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_cloud_file_path(@cloud_file) %> |
<%= link_to 'Back', cloud_files_path %>
