<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <h3><%= @cloud_file.filename %></h3>

  <%= render "shared/cloud_file"%>

  <%= button_to 'Sync', sync_cloud_files_path(@cloud_file), method: :post %>

  <%= render "shared/path_list" %>

  <%= link_to 'Back', cloud_files_path, class: "link-secondary" %>
</div>
