<!DOCTYPE html>
<html>
  <head>
    <title>Getty McGee</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <script>setTimeout("location.reload();",10000);</script>

      <%= render "shared/nav" %>

    <div class="container-fluid">
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
